*.mat
COLOMBOS_data/colombos_mtube_exprdata_20151029.txt
COLOMBOS_data/colombos_mtube_refannot_20151029.txt
COLOMBOS_data/colombos_mtube_testannot_20151029.txt
COLOMBOS_data/analisys/exp_PROM_Original.txt
COLOMBOS_data/analisys/colombos_GSM27855_noNaN.txt
COLOMBOS_data/analisys/colombos_GSM27855.txt
COLOMBOS_data/colombos_9776.txt
COLOMBOS_data/colombos_16811_40846_9776.txt
COLOMBOS_data/colombos_16811_40846_9776_35362_14840.txt
COLOMBOS_data/colombos_40846.txt
COLOMBOS_data/analisys/colombos_GSE1642.txt
COLOMBOS_data/analisys/colombos_GSE16811.txt
COLOMBOS_data/colombos_GSE1642.txt
COLOMBOS_data/colombos_GPL_sets/
COLOMBOS_data/colombos_all.txt
COLOMBOS_data/colombos_mtube_GPL.txt

